body {
  margin: 10;
}


.MeowMeow {
 color:black; 
 background-color: whitesmoke;
 border-radius: 15px;

}
body {
  background-color: black;
  background-image: url('ra.jpeg');
  background-size: cover;
}
body-two {
background-image: url(ra.jpeg);
}
.username {
  font-weight: bold;
}
.meows{
  width: 300px;
  border-radius: 10pxa;
} 

.title {
  font-style: italic;
  font-size: xxx-large;
   margin-left: 700px; 
  /* display: inline-block; */
  text-align: center;
  background-color: rgba(255, 132, 0, 0.516);
  border-radius: 10px;
  width: fit-content;
  
   ss
}

.MeowingCat {
  /* width: 400px; */
  border-radius: 10px;
  width: 100%;

}

.box {
  display: grid;
  gap: 40px;
  grid-template-columns: 400px 1fr;
}

.box-two {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: s;
  border-radius: 10px;
  height: min-content;
}
.box-three {
  display: flex;
  gap: 10px;
  font-variant: unset;
  margin-top: 10px;
  
}
.Title-two {
  background-color: burlywood;
  font-size: xx-large;
  font-style: calc();
}

}

.cat-holder {
  width: 400px;
  flex-grow: flex-basis 100%;
}
p {
  margin: 0;
}
